.testimonial-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 50em;
}


.description-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #F8D59D;
    margin-bottom: 0.2em;
}

.description-two-container h2 {
    font-size: 2em;
    margin: .5em;
}

.description-two-container p {
    font-family: 'montserrat';
    line-height: 1.7em;
    font-size: 1.4em;
    padding-right: 10em;
    padding-left: 10em;
}

.testimonial-artist-container{
    display: flex;
    margin-top: 3em;
    height: 100%;
}

.artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
    margin-right: -20em;
    margin-left: 13em;
}

.artist-heading{
    font-family: Antic Didone;
}

.artist-img {
    height: 25em;
    border-radius: 10em;
}

.quote-container {
    background-image: url("/src/assets/quote.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: 60em;
    background-position: center;
}

.quote {
    width: 60%;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'montserrat';
    color: black;
    line-height: 1.5em;
    font-size: 1.3em;
}

#artist-name {
    margin-top: 0;
    font-style: italic;
    font-size: .75em;    
    margin-bottom: 10em;
}

.quote-artist-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}