.home-container {
    display: flex;
    margin-top: 7.5em;
}

.image-container {
    width: 50%;
    height: 100%;
}

.together-img {
    height: 30em;
    width: 50vw;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #E1EFF4;
    padding: .8em;
    margin-bottom: .2em;
}

.description-container p {
    font-family: 'montserrat';
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
    margin-top: 0;
}

.description-heading {
    font-size: 3em;
    font-family: Antic Didone;
    color: black;
}

.login-link {
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-size: 1.2em;
    color: white;
    background: #025779;
    border-radius: 25px;
    border: none;
    height: 2em;
    width: 13em;
    margin-bottom: 2em;
    cursor: pointer;
}

.gear-up-link{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-size: 1.2em;
    color: black;
    background: #F8D59D;
    border-radius: 25px;
    border: none;
    height: 2em;
    width: 13em;
    cursor: pointer;
}

.login-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/paint.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29em;
    height: 70%;
    width: 100%;
}

.login-home-heading {
    font-family: Antic Didone;
    color: white !important;
    background: black;
    font-size: 1.4em !important;
    margin-top: 1em !important;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 50em;
}


.description-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #F8D59D;;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: .2em;
    box-shadow: 0px 11px 20px 8px  #0257799e;

}

.description-two-container h2 {
    font-size: 2em;
    margin: .5em;
}

.description-two-container p {
    font-family: 'montserrat';
    line-height: 1.7em;
    font-size: 1.4em;
}

.testimonial-artist-container{
    display: flex;
    margin-top: 3em;
    height: 100%;
}

.artist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    padding-bottom: 4em;
    padding-left: 2em;
}

.artist-heading-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-heading{
    font-family: Antic Didone;
}

.artist-img {
    height: 25em;
    border-radius: 10em;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 30%;
    height: 100%;

}

.quote-container img {
    height: 27em;
}

.quote {
    width: 60%;
    padding: 0;
    /* margin-right: 5em; */
    margin-bottom: 0;
    text-align: center;
    font-family: 'montserrat';
    color: black;
    line-height: 1.5em;
    font-size: 1.3em;
}

#artist-name {
    margin-top: 0;
    font-style: italic;
    font-size: .75em;    
    margin-bottom: 10em;
}