.header {
    display: flex;
    align-items: center;
    background-color: #025779;
    height: 6.5em;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    top: 0;
    box-shadow: 0px 11px 20px 8px  #0257799e;
    flex-direction: row;
    justify-content: space-between;
}

.header h1 {
    color: white;
}

.gearup-logo {
    width: 8em;
}

.title-wrapper{
    display: flex;
    width: 30%;
    padding-left: 2em;
    font-family: Antic Didone;
    font-size: 1.2em;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'montserrat';
    color: white;
    /* width: 60%; */
    justify-content: space-between;
    gap: 5em;
    padding-right: 4em;
}

.nav-link {
    cursor: pointer;
    color: white;
    margin: 0;
    text-decoration: none;
    font-size: 21px;
    font-weight: bolder;
}

.nav-link.active {
    transform: scale(1.1);
    box-shadow: 0px 1px 20px 20px #0a415ad1;
    background: #0a415ad1;
}


.login-nav {
    display: flex;
    flex-direction: row;
    margin-left: 4em;
    margin-right: 1em;
}

.login-only-nav {
    display: flex;
    flex-direction: row;
}