.header {
    display: flex;
    align-items: center;
    background-color: #025779;
    height: 6.5em;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    top: 0;
}

.header h1 {
    color: white;
}

.gearup-logo {
    width: 8em;
}

.title-wrapper{
    display: flex;
    width: 30%;
    padding-left: 2em;
    font-family: Antic Didone;
    font-size: 1.2em;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'montserrat';
    color: white;
    width: 60%;
    justify-content: space-between
}

.nav-link {
    cursor: pointer;

}