.all-donation-requests-container {
    display: flex;
    flex-wrap: wrap;
    width: 79vw;
    overflow: auto;
    height: 39em;
}

.community-board-container {
    display: flex;
    margin-top: 8em;
    flex-direction: row;
    align-items: flex-start;
    
}

.no-results {
    width: 75vw;
    align-items: center;
    text-align: center;
    margin-top: 15em;
}

